html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  cursor: url('../images/pencil-cursor.png'), auto;
}

body {
  font-family: $mainFontFamily, sans-serif;
}

.icon-arrow {
  transform: scale(1);
  transition: transform $mainTransitionDuration $mainTransitionTimingFunction;
}

.title {
  font-family: $titleFontFamily;
  @include font(300, 64px, 1, null);
  color: $secondaryColor;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s $mainTransitionTimingFunction;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
