@font-face {
  font-family: Gothic-A1;
  src: url("../fonts/GothicA1-Regular.ttf");
}

@font-face {
  font-family: SFPRODISPLAYBOLD;
  src: url("../fonts/SFPRODISPLAYBOLD.OTF");
}

@font-face {
  font-family: TT-Hoves-Bold;
  src: url("../fonts/TT-Hoves-Bold.otf");
}

@font-face {
  font-family: TT-Hoves-Ligth;
  src: url("../fonts/TT-Hoves-Light.otf");
}

@font-face {
  font-family: TT-Hoves-Medium;
  src: url("../fonts/TT-Hoves-Medium.otf");
}

@font-face {
  font-family: TT-Hoves-Regular;
  src: url("../fonts/TT-Hoves-Regular.otf");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/OpenSans-Regular.ttf");
}
