@import "../fonts";
$primaryColor: #333333;
$decorColor: #f2f2f2;
$secondaryColor: #bdbdbd;
$thirdColor: #ffffff;
$formColor: #f3f3f3;
$mainTransitionDuration: 250ms;
$mainTransitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$mainFontFamily: "TT-Hoves-Bold", sans-serif;
$secondaryFontFamily: "TT-Hoves-Regular", sans-serif;
$titleFontFamily: "TT-Hoves-Ligth", sans-serif;
$numberFontFamily: "SFPRODISPLAYBOLD", sans-serif;
$thirdFontFamily: "Gothic-A1", sans-serif;
$mediumFontFamily: "TT-Hoves-Medium", sans-serif;
$copyriteFontFamily: "Open Sans", sans-serif;
